html {
  box-sizing: border-box;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  font-family: "Noto Sans", sans-serif;
  line-height: 1.5;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

[lang="ja"] {
  font-family: "Noto Sans JP", sans-serif;
  font-style: normal;
}

body {
  margin: 0;
  display: grid;
  grid-template-areas:
    "banner banner"
  grid-template-columns: repeat(2, 1fr)
}

img {
  display: block;
  width: 100%;
}

header {
  display: contents;
  grid-template-columns: repeat(2, 1fr)
}

ul {
  list-style-type: none;
  color: #3783a3;
  display: flex;
  text-decoration: underline;
}

a {
  color: #3783a3;
}
